[2017-06-26 03:25] nnur opened #1 "Emojis appear too small"
https://puu.sh/wuocg/65888e7364.png

[2017-06-26 03:26] nnur opened #2 "The blue of the chinow should match the blue of the slackchat logo"
https://puu.sh/wuocP/c5f02a42cf.png

[2017-06-26 03:28] nnur opened #3 "When I click on an emoji it automatically sends it"
I don't like this behaviour since it's unexpected and I can't make sentences like 'how u doin ;) '

It should put the emoji in the input box

[2017-06-26 03:35] nnur opened #4 "sending multiline message doesn't work"
https://puu.sh/wuou2/1aa22884f6.png

This will send as poopdoop

[2017-06-26 03:36] nnur opened #5 "Can't attach files"
it would be nice for ppl to be able to send pictures, pdfs, screenshots. especially if they need to get helped

[2017-06-26 03:39] nnur opened #6 "Remove console.log"
https://puu.sh/wuoFr/669021e2cd.png

[2017-06-26 03:40] nnur opened #7 "Pressing the send button doesn't send a message"
https://puu.sh/wuoIp/dd302aeaf9.png

[2017-06-26 03:41] nnur opened #8 "on firefox, emoji and send icons have no hover effect"
https://puu.sh/wuoKi/fa43d7f892.png

[2017-06-26 03:42] nnur opened #9 "on safari, emoji and send icons are crooked"
https://puu.sh/wuoNa/9b1b3f6a8b.png

[2017-06-26 03:45] nnur opened #10 "After messing with it for a bit the cursor ended up in the middle of the textarea"
https://puu.sh/wuoUq/e8cf86ff79.png

[2017-06-26 03:53] nnur opened #11 "Sending a link doesn't make it clickable"
https://puu.sh/wupeK/d4bc564a7c.png

[2017-06-26 16:42] dharness commented on #11
I think this is out of the scope of the project. I'm going to make it a feature request, and hopefully we get to it at a later date or someone else does.

[2017-06-26 16:44] dharness commented on #5
I think this is also outside the scope of the project right now. But a nice to have later.

[2017-06-26 16:46] dharness opened #12 "Demo website is ugly"

[2017-06-26 16:51] dharness opened #13 "Initial emoji-menu loading is slow"
1. Refresh page
2. Load emoji menu
3. It's slow
4. Close, and re-open
5. It's fast

[2017-06-26 17:16] dharness opened #14 "Don't send empty messages"
This should work in the component, but should not work in the demo site because it's ugly.

[2017-07-10 20:57] #12 closed

[2017-07-10 21:11] #2 closed

[2017-08-01 04:40] #9 closed

[2017-08-01 04:44] dharness opened #17 "Update README"

[2017-08-02 13:25] #14 closed

[2017-08-18 16:38] #1 closed

[2017-08-18 16:38] #3 closed

[2017-08-18 16:38] dharness commented on #3
In order to achieve parity with Intercom, this is the intended behaviour. Sorry Naila!

[2017-08-18 16:38] #6 closed

[2017-08-18 17:18] #7 closed

[2017-08-19 01:24] dharness opened #21 "break on long words"
https://puu.sh/xdJPw/68abedaec1.png

[2017-08-19 01:25] dharness opened #22 "Dont send empty message"
https://puu.sh/xdJRh/5b4007f67a.png

[2017-08-19 01:28] dharness opened #23 "A few colours are wrong"
https://puu.sh/xdJXQ/629fce0620.png

[2017-08-19 17:33] #23 closed

[2017-08-19 17:34] #22 closed

[2017-08-19 17:35] #21 closed

[2017-08-30 14:18] lorenz opened #26 "NPM release missing files"
Currently the tarballs on NPM only contain `README.md` and `package.json` and no actual code.

[2017-08-30 15:00] dharness commented on #26
My apologies! Everything should be good with react-chat-window@1.0.5

https://puu.sh/xnhkb/18b846e565.png

[2017-08-30 15:00] #26 closed

[2017-08-30 15:07] lorenz commented on #26
Thank you very much for your quick fix!

[2017-09-05 19:35] foobar8675 opened #27 "Overriding styles"
Is there a way to override the styles? If not, would you be open to taking a PR?

[2017-09-05 23:30] dharness commented on #27
The best way to override the styles currently would be to use a wrapper div and select the elements directly inside of it:
[code]

[code]

That said, I'm open to alternatives and would totally accept a PR if we can agree on something. What would you like that to look like?

[2017-09-05 23:55] foobar8675 commented on #27
I think that works fine for me. I come from a react native background and not so much react ... so sorry if this naive. in RN, one frequently passes in containerStyles as a prop such as `https://github.com/brentvatne/React-Native-Elements/blob/master/src/buttons/Button.js#L13` to override the underlying style. But on web, it seems like that isn't necessary?

[2017-09-05 23:58] dharness commented on #27
Yeah, generally I'd prefer to avoid having styles-as-objects so let's leave it like this for now.

[2017-09-05 23:58] #27 closed

[2017-09-08 01:16] dharness opened #28 "Add sound on incoming message"

[2017-09-09 19:14] mmmikeal opened #29 "Cannot toggle chat window from outside Launcher"
I'd like to be able to toggle the chat window by passing a function handler or some sort of prop to trigger Launcher's handleClick function. Perhaps bind Launcher's handle click in the constructor instead of render?

[2017-09-09 19:14] mmmikeal opened #30 "Multiple chat windows tab"
Would be nice for Launcher to take an array of multiple chats and make tabs for each chat with each unique user

[2017-09-09 19:15] mmmikeal commented on #29
im currently trying to implement this myself by copying the repo directly into my project and playing with Launcher

[2017-09-09 20:41] dharness commented on #29
I agree this would be nice. I'll throw it on the backlog, and if you work something out, feel free to submit a PR. I'd prefer a prop `isOpen` or something. Is there a reason you want to hook directly into the `handleClick`?

[2017-09-09 20:42] dharness commented on #30
Yeah totally agree, that's what the genuine Intercom has and it should be on the roadmap. Realistically I won't get to that feature for several months.

[2017-09-09 21:04] mmmikeal commented on #29
Yeah, I made a ghetto list of buttons to open up a specific chat from my current chats with different users. When I click that button I want the chat window for that user to toggle open. I finished it and will submit a pull request tomorrow after I clean up. I didn't use the handle click, just made a function that takes a boolean prop (into launcher) and sets the active state to true. It's really

[2017-09-13 23:22] #17 closed

[2017-09-13 23:23] dharness opened #32 "Add icon on unread message"
https://puu.sh/xz7KR/2b5abcbaa4.png

[2017-09-13 23:24] dharness opened #33 "Add on-load prompt"
I think it should appear when the page loads/launcher loads and have configurable text/fields
[Uploading Screen Shot 2016-07-12 at 09.32.10.png...]

[2017-09-21 15:52] Nodonisko opened #36 "Remove vestigial socket files"
What did file `services/messageBroker.js` do?

[2017-09-21 17:01] dharness commented on #36
That's a good point @Nodonisko, that should not be in there.

The long and the short of it is that this component is an off-shoot of a larger project of mine called Slackchat which *does* provide a backend.

[2017-09-29 12:44] Bakhah opened #37 "Reduxing"
Hi Dylan !
First, thank you for your work, I'm happy to have finally found a nice chat view ;)
I used it for a project, and I totally remelted it to be reduxed.
I also implemented Firebase to handle multiple conversations

Are you interested by a boilerplate version of it ?

Thank again and have a nice day !

[2017-10-02 01:24] dharness commented on #37
Hey!

Great to hear. I'd love to see it -- can you share it here?

[2017-10-02 05:53] Bakhah commented on #37
I will ! I need more time to find a good way to build the most generical implementation of Firebase (For the moment it's hardly bound to my business logic), but I can start with the reduxed version ;)

See you soon !

[2017-10-09 01:59] TomClarkson commented on #28
Interested to see how you get this to work on mobile. Because you can't do (new Audio(source)).play()

[2017-10-10 19:55] dharness commented on #28
That's a great point. I haven't had time to look into it yet, but id you have any suggestions definitely share em.

[2017-10-21 21:31] ishan28mkip opened #38 "Custom Styling"
Some other library was covering the whole page with z-index : 2, this should come above everything else hence I forced additional styling in the sc-launcher and sc-chat-window classes. It should probably support a custom styling option which would allow passing inline styles to the window as well as the launcher.

Also I wish to thank the author for creating such an awesome library and making it o

[2017-10-22 03:05] dharness commented on #38
Thanks Ishan, I appreciate the kind words. I think this has come up enough to spend some time thinking about how this would work. Let's add it as a feature request and we can work out the details here.

[2017-11-02 22:54] jacksonwildemurphy commented on #29
Hi, has this functionality been added? I'm using this component but have been unable to toggle the window open/closed programmatically. I see that @mmmikeal has submitted a pull request that was never emerged in, and a comment from @dharness in that request saying it was resolved in pull #34...
Thanks for your work on this!

[2017-11-02 22:59] dharness commented on #29
@jacksonwildemurphy It was resolved in https://github.com/dharness/react-chat-window/pull/34

but it never got republished to npm. Let me get to that shortly.

[2017-11-02 23:02] mmmikeal commented on #29
i wrote my own solution, its pinned repo hokonodev/hokono on my github
profile

On Thu, Nov 2, 2017 at 6:59 PM Dylan Harness <notifications@github.com>
wrote:

[2017-11-02 23:21] jacksonwildemurphy commented on #29
@dharness , @mmmikeal  thank you both. I really appreciate it

[2017-11-06 18:04] dharness commented on #37
@Bakhah I'm going to close this due to lack of activity. If you still want to share, feel free to re-open!

[2017-11-06 18:04] #37 closed

[2017-11-06 18:08] dharness commented on #33
I can't remember exactly what this was, and the image isn't working. Closing until I remember.

[2017-11-06 18:08] #33 closed

[2017-11-07 18:33] efistokl opened #39 "JS code published to NPM is not bundled"
I have installed your package with command `yarn add react-chat-window`

Then I get an error when bundling my project because there are imports/requires of .css and .png files in your code.

For example `lib/styles/index.js`:

[code]

or `es/styles/index.js`
[code]

They do not look like bundled/transpiled files... . And that is the problem for guys who use react and do not use .css/.png/.... impo

[2017-11-07 18:40] #39 closed

[2017-11-10 22:37] dharness commented on #36
Closed by https://github.com/dharness/react-chat-window/pull/40

[2017-11-10 22:37] #36 closed

[2017-11-14 22:55] dharness opened #41 "Text doesn't wrap"
I thought we had fixed this but:

![](https://puu.sh/ym8rm/bd995c1cdc.png)

Sample text:
"https://images2.onionstatic.com/clickhole/3456/8/original/600.jpg"

[2017-11-14 23:03] vkhattar opened #42 "Add date below the message"
Hi I want to know the date when the text is sent, its more of a feature request.
Example)   {type: 'text', author: "them", data: { text: "You've got to have a story.", date: "Tue, 25 Jul 2017 22:53:41 GMT" }}

[2017-11-14 23:07] dharness commented on #42
That's a good idea @vkhattar -- let's think about the other kinds of dates we might need so we get the names right (eg sent, received, read, etc) and add this as a feature req.

It won't make it into the next version, but it may appear later.

Important to note however, you can have your message objects have whatever fields you want. react-chat-window will just ignore extraneous ones. I want to le

[2017-11-14 23:24] #11 closed

[2017-11-14 23:31] #41 closed

[2017-11-14 23:46] #32 closed

[2017-11-15 17:15] vkhattar commented on #42
I did add something locally, but could not make a pull request as I did not fork it. For now i am just adding the date with the text, it looks ugly but does get the job done.

[2017-11-15 17:17] vkhattar opened #47 "Make emjoi on toolbar optional"
The endpoint I use to send messages, does not allow emoji icons to be displayed. I do want the users to get confused when trying to use the emoji. Is there a way where we can have a settings and can maybe pass a props from launcher to hide/show the emoticon feature ?
Thanks

[2017-11-15 17:44] dharness commented on #47
I'll look at this. But in the interim, you can just set the emoji button to `display: none`

[2017-11-15 17:54] vkhattar opened #48 "Unable to display svg image for chat icon"
Unable to render the svg image for chat icon. When  I changed the image to a png image it worked properly, unfortunately I will not be able ship it with my changes.

Another suggestion here, just like how there is a slack image option for props, can we have something like that for this as well ?

Any help will be appreciated. Thanks.

How image tag looks like with svg -
`<img class="sc-closed-icon

[2017-11-15 18:01] vkhattar commented on #48
aah i see what you mean, I can probably work on it as well. But this one is the most important for me as I am unable to get the chat icon image to be rendered. Ill add an image to show you what i mean.

<img width="348" alt="screenshot 2017-11-15 12 54 29" src="https://user-images.githubusercontent.com/1714264/32852151-1cb10876-ca05-11e7-9374-5a5edb88f0a9.png">

<img width="447" alt="screenshot 20

[2017-11-16 23:08] dharness commented on #5
After thinking about this more here are the steps for this:

- [ ] add file upload icon
- [ ] fix styles of icon bar in chat window
- [ ] toggle file icon and send icon like intercom (when editing)
- [ ] allow the receipt of file messages in messageList
- [ ] display/preview/etc files displayed in the messageList
- [ ] allow the download of files from the messageList

[2017-11-23 16:14] TomYeoman opened #49 "Multiline chat message"
Hi, great work I really like the chat window.

One issue I have is i'm unsure how to create a chat message which contains line breaks.

For example I have list data that looks like this

Data1 ) x
Data2 ) y
Data3 ) z

Is it possible to create newlines to break this data, rather than displaying all on one line?

Thanks :)

[2017-11-23 18:37] dharness commented on #49
Definitely you should be able to have multi-line messages! Let's add this to the next release

[2017-12-01 00:34] #5 closed

[2017-12-01 20:20] #49 closed

[2017-12-04 22:41] dharness commented on #28
Decided to just *not* do it on mobile.

[2017-12-04 22:41] #28 closed

[2017-12-05 20:41] dharness commented on #38
Upon further reflection I feel the best way forward is to continue to select individual elements directly in the host's css, and override their styles. You can have complete, transparent control in this way:

[code]

[2017-12-05 20:41] #38 closed

[2017-12-05 20:43] dharness commented on #29
This is complete and you can use it on https://github.com/dharness/react-chat-window/tree/rc-1.1.0

with the `isOpen` flag. It will also be part of the upcoming release.

[2017-12-05 20:43] #29 closed

[2017-12-06 01:10] dharness opened #54 "Composer spacing is wrong on FF"
Spacing is weird on the bottom bar here:

<img width="380" alt="screen shot 2017-12-05 at 5 09 26 pm" src="https://user-images.githubusercontent.com/8755912/33639222-178dc7be-d9df-11e7-8b4d-7ac13ed1b21d.png">

Specifically on firefox. The spacing is too large.

[2017-12-06 01:11] dharness opened #55 "Composer does not return to clean state when empty"
The file icon should reappear when all text has been removed from the chat input

![composer](https://user-images.githubusercontent.com/8755912/33639273-59a22d20-d9df-11e7-915c-8dc234666ac0.gif)

Check intercom for example

[2017-12-06 01:13] dharness opened #56 "Emoji picker is not aligned"
Emoji picker is not aligned, especially on FF:

<img width="365" alt="screen shot 2017-12-05 at 5 12 09 pm" src="https://user-images.githubusercontent.com/8755912/33639302-858aadd6-d9df-11e7-8f1f-be346bbc26d2.png">

It should be aligned, make sure to test on every browser

[2017-12-06 01:13] dharness commented on #30
I'm removing this from the next release. I haven't heard anyone else require it, and it's a fair amount of work.

[2017-12-06 01:15] dharness opened #57 "Files are not downloaded on FF"
Clicking a file in the conversation on firefox opens it in the same window, navigating away from the host page.

It should instead download the file if possible

[2017-12-06 01:23] #57 closed

[2017-12-06 17:08] xemasiv commented on #56
Great work on this man, solid!!!

[2017-12-12 09:09] ayxos opened #59 "Problem with webpack + css"
Hi, I have a problem when i run react with the css

[code]

Any clue why is this happening?

I am using Webpack v1.13.1

[2017-12-12 17:34] dharness commented on #59
Hmm, are you using a [css-loader](https://github.com/webpack-contrib/css-loader) ?

[2017-12-12 17:35] ayxos commented on #59
@dharness yes. Here is my conf:
[code]

[2017-12-12 17:50] dharness commented on #59
Does it fail in the exact same way in case 2?
If so, I'll have to look into this more thoroughly. My only other thoughts are to a) pare down the second config to the basics - removing the fallback (is that a 2.x feature) and using:
[code]
b) try upgrading webpack.

If you cannot get that to work, and you really feel it is a problem on my end you can generate a small repo that reproduces the error.

[2017-12-12 17:51] ayxos commented on #59
Sorry I forgot, the second example is with webpack last version (v3.x)

[2017-12-12 22:11] cagigas opened #60 "ChatWindow error"
I'm trying to use ChatWindow, as I'm only interested in the chatBox. I'm getting this error:

_Uncaught (in promise) Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.

[code]
Do you see anything unusual?

[2017-12-12 22:39] dharness commented on #60
Since it is the default export you need to remove the mustaches.

https://github.com/dharness/react-chat-window/blob/master/src/components/ChatWindow.js#L43

https://github.com/dharness/react-chat-window/blob/master/src/components/Launcher.js#L3

[2017-12-12 22:39] #60 closed

[2017-12-13 09:08] cagigas commented on #60
`import ChatWindow from 'react-chat-window';
`
I'm still getting the same error.

[2017-12-14 05:08] lineldcosta commented on #30
It would be nice to have this feature.. Even i am looking for it... tried in different ways but couldn't give that good feel...

[2017-12-14 22:10] #55 closed

[2017-12-15 23:09] #59 closed

[2018-01-02 16:45] bidyashish opened #63 "connecting with dialogflow API.AI"
Hello,
I am unable to connect this app with my existing Jquery based dialogflow   CHATBOT ,

I   tried ti change messagelist . State ,
Please help me connect with API.AI

[2018-01-02 18:19] dharness commented on #63
Hey @bidyashish these issues are for technical bugs and feature requests. If you want help with your project you can contact me through my consulting business at https://kingofthestack.com/at hello@kingofthestack.com

If you do find some problem with the library though, let me know here.

[2018-01-02 18:19] #63 closed

[2018-01-14 03:33] joemillervi commented on #30
++ This feature would be sweet

[2018-01-19 12:09] mattmezza commented on #47
Has been implemented and merged in #64

@dharness could you release a new version?

[2018-01-22 17:45] dharness commented on #47
done.

[2018-01-22 17:45] #47 closed

[2018-01-23 22:09] radicand opened #65 "v1.0.6 packaged incorrectly"
When installing 1.0.6 from npm, the package is missing lib/ es/ etc. If I downgrade to 1.0.5 they re-appear.

I haven't cloned your repo to test for why this is the case, but something in your build/publish phase may be off.

[2018-01-23 22:10] dharness commented on #65
Thanks! I released that on the fly the other day and must have missed something. I'll look into it tonight.

[2018-01-24 11:49] mattmezza commented on #65
you can find a recent version integrated here https://github.com/mattmezza/react-chat-window patch your `package.json` `yarn add mattmezza/react-chat-window` while waiting for the new release if you wanna try out the new features. I had to manually add the missing files `yarn build --copy-files` then push them to the remote repo and then patch the `package.json` file.

[2018-01-24 13:44] Thomas-Negrault opened #66 "How can I add quick replies ?"
I would like to use quick replies in my chat (see [the messenger documentation](https://developers.facebook.com/docs/messenger-platform/send-messages/quick-replies))
It would basically be like a bubble, without the agent picture with some propositions, and when the user click on it, it is displayed as a user bubble.

Ideally, the quick replies could have a display value and an internal value (one

[2018-01-25 03:17] dharness commented on #66
I don't have any plans to add this feature. I like the idea of adding custom message types, but don't have time to implement that right now.

[2018-01-25 03:18] dharness commented on #65
Re-release 1.0.7. Should be good now, sorry about that.

[2018-01-25 03:18] #65 closed

[2018-01-25 16:57] radicand commented on #65
thanks for the quick turnaround -- it looks like the css files are still missing though in this release (though the JS files are present).

[2018-02-03 21:54] lightsinthesky opened #67 "Cant resolve css or assets v1.0.7"
It appears the project build is broken. Webpack 3.9.1, node v6.11.3, yarn 1.1.0. Digging deeper, none of the css or image assets are in the package.

[2018-02-03 22:27] AhmedDaou commented on #67
I can confirm the same issue `react-chat-window": "^1.0.7"`

[2018-02-05 17:46] dharness commented on #67
This should be resolved in `react-chat-window": "^1.0.8"`. We needed to add --copy-files to the build.

[2018-02-05 17:46] #67 closed

[2018-03-09 22:18] thiagocoelho opened #68 "SVG loading error"
I'm trying to use the Launcher but in first run I got this:

I need to install anything besides react-chat-window?

[2018-03-21 17:01] eswarasai commented on #42
@dharness -- Any update on this feature? I'm planning to use this library for one of my projects and would require this feature as part of it. If you can guide me through the implementation, I can develop it for you and create a PR too :)

[2018-03-21 17:46] dharness commented on #42
I'm pretty swamped, but I'd recommend putting it here:
https://github.com/dharness/react-chat-window/blob/master/src/components/Messages/index.js

[2018-05-23 12:46] bharath3648 opened #69 "Image/Media upload"
Is there any media(images) upload option as like the emojis and text?

[2018-05-23 16:48] dharness commented on #69
It is part of the next release, but sadly I have had no time to finish it and push it out!
https://github.com/dharness/react-chat-window/milestone/1?closed=1

You can use the `rc-1.1.0` if you would like to try it out, but I can't guarantee anything

[2018-05-23 16:48] #69 closed

[2018-05-28 16:10] Combinations opened #70 "UNMET PEER DEPENDENCEY warnings upon install"
Using react 16.x and react-dom 16.x

running: `npm install react-chat-window --save`

[code]

[2018-05-29 16:44] dharness commented on #70
Looks like react 16.x isn't support :/ -- PR is welcome

[2018-08-06 16:28] #66 closed

[2018-08-06 23:46] heatherbooker commented on #70
Is there a way for react-chat-window to support 15.x and 16.x as peer dependency options? Or no dice?

[2018-08-06 23:49] heatherbooker opened #72 "Yarn v npm"
Hi,
I notice the examples of use/contributing tend to say `npm` but the repo has a `yarn.lock` committed. Should one be preferred for contributing in this repo?

[2018-08-06 23:53] dharness commented on #72
npm preferred

[2018-08-06 23:55] dharness commented on #70
@heatherbooker probably some if statements combined with `React.version;` in the worst case, and some clever averaging in the best case. But I'd say yes

[2018-08-08 00:33] heatherbooker commented on #13
I'm not able to replicate; is this still an issue?

[2018-08-08 03:37] #72 closed

[2018-08-08 03:54] heatherbooker commented on #68
Hi @thiagocoelho, If you are still experiencing this issue, could you provide more details to help us understand? (for example, what you mean by "trying to use the Launcher", what steps you took leading up to this error, etc) The cause of the problem is not immediately apparent to me, though perhaps @dharness might have more of an idea.

[2018-08-09 03:15] heatherbooker commented on #8
Closed in #77

[2018-08-09 03:15] #8 closed

[2018-08-13 02:32] heatherbooker commented on #4
Seems to be resolved, in ff I can send multiline messages, plz re-open if not! :+1:

[2018-08-13 02:40] heatherbooker commented on #56
Closed in #81 .

[2018-08-13 02:40] #56 closed

[2018-08-13 02:40] heatherbooker commented on #54
Closed in #81 .

[2018-08-13 02:40] #54 closed

[2018-08-13 02:42] heatherbooker commented on #4
Scratch that, I misunderstood, this is indeed the case. Re-opening!

[2018-08-13 02:45] heatherbooker commented on #10
Hi @nnur or @dharness , can you reproduce/provide steps to reproduce? I'm not sure how to fix this without being able to cause the issue! :)

[2018-08-13 02:48] heatherbooker opened #82 "Focus should return to text input after emoji input"
Reproduce:
- type in chat input
- clicking the emoji picker icon to open it
- click an emoji
- emoji picker auto closes
- continue typing
- no dice because the focus didn't return to the input after closing the picker

This seems like it would be an improvement.

[2018-08-13 02:51] heatherbooker opened #83 "Launcher is not clickable using Vimium bindings in Firefox"
When using Vimium bindings and pressing `f`, I think the launcher should become an option. I imagine this also impacts accessibility.

Not sure if this is a demo-specific issue or should be baked in to the Launcher icon.

[2018-08-13 02:54] heatherbooker opened #84 "Why is there a hover effect but no action on the team name?"
On Firefox (+ mabe others), there is a hover effect but no action on class="sc-header--team-name" - should we remove the effect or add an action such as optional link?

[2018-08-13 03:46] dharness commented on #84
yea let's remove the hover effect

[2018-08-13 03:48] dharness commented on #83
Can you make a more general claim about what doesn't work? I'm not farmilliar with vimium

[2018-08-13 03:56] dharness commented on #10
Cannot reproduce, must not exist

[2018-08-13 03:56] #10 closed

[2018-08-13 23:16] heatherbooker commented on #83
I think the launcher/close icon should be a button.

[2018-08-14 22:37] heatherbooker opened #85 "Can't tell who sent files on mobile"
Should files have different outlines/shades/something to differentiate the user?

Seems that files from either "us" or "them" appear the same and can only be differentiated by which side of the screen they are on; however, you can't use this when on mobile there is a very long filename, as it expands very wide.

Or maybe the solution is smaller max width.

[2018-08-14 23:08] dharness commented on #85
@heatherbooker can you include some screenshots?

[2018-08-15 02:16] dharness commented on #83
I think this would be a nice to have - let's keep it on the back burner.

[2018-08-15 02:17] dharness commented on #83
I notice you actually can't do this on intercom.io either

[2018-08-16 00:44] heatherbooker opened #90 "Appears way too small on mobile"
On iPhone at least, in the demo at least, it is super-unclickably tiny. Maybe there is a way to default to it being bigger? That would be handy for users in general I imagine. I'm not really sure if this is a rcw issue or a usage issue.

[2018-08-16 00:54] heatherbooker opened #91 "Add license"

[2018-08-16 00:55] heatherbooker opened #92 "Add basic linting"
It's just nice, and it catches stupid stuff.

[2018-08-16 00:55] heatherbooker opened #93 "Move away from nwb"
It's too magic. What is it even doing??

(nwb being the build tool.)

[2018-08-16 00:56] heatherbooker opened #94 "Use `isRead` or `seen` prop in message objects"
... instead of separate newMessagesCount prop.

This would also open the door to marking messages as read in the chat window.

[2018-08-16 00:57] heatherbooker opened #95 "Improve alt text in readme for demo gif"
The alt text for the demo gif in the readme could be more helpful.

[2018-08-16 00:58] heatherbooker opened #96 "Migrate to using separate prop-types package"

[2018-08-16 00:58] heatherbooker opened #97 "Fix everything about demo"
- Don't hard code date in demo copyright (It says last year. Probably now 2 years ago.)
- Change `react-live-chat` to `react-chat-window`
- The icon doesn't have a message badge when new message is sent
- It doesn't linkify
- "`here`" is [bad link text](https://www.smashingmagazine.com/2012/06/links-should-never-say-click-here/)

[2018-08-16 01:00] heatherbooker opened #98 "Support react-native?"

[2018-08-16 01:03] heatherbooker commented on #84
@dharness Wouldn't it be nice if this issue was auto-closed now based on the linked PR being merged? :heart_eyes:

[2018-08-16 01:03] #84 closed

[2018-08-16 01:32] dharness commented on #84
Sometimes an issue may be completed across multiple PRs though

[2018-08-16 01:35] dharness commented on #90
What do you mean 'it', the launcher? Can you add a screen shot?

[2018-08-26 06:42] KBPsystem777 commented on #91
agreed with @heatherbooker 👍

[2018-11-25 21:16] prashanthr opened #100 "Support for clickable links"
The component currently supports only text and emoji message types. Support for clickable links would be very useful.

Note: Duplicate of #11 that was closed in the past with no resolution

[2018-12-05 11:54] himanshupareek opened #102 "Two errors on console in Chrome Version 70.0.3538.110"
Hi,
I am getting two errors in console in Chrome Version 70.0.3538.110, however not getting these errors in other browser like firefox.

Failed to load resource: the server responded with a status of 404 (Not Found)
ui/fonts/logo-no-bg_7718b3e3ff59dac728c55e725a3b0523.svg

Failed to load resource: the server responded with a status of 404 (Not Found)
ui/fonts/close-icon_c30463a597e914039697d587f8f

[2018-12-14 07:46] himanshupareek commented on #102
What I did to resolve it, I identified both of the images from this module's folder and put them into my local folder structure too, for which it was showing the error.
Thanks,
Himanshu Pareek.

[2018-12-14 07:46] #102 closed

[2018-12-23 01:03] JeffLoo-ong commented on #68
So I am running into a similar issue in my Next.JS project which I have a suspicion he may be as well.

I am including the Launcher using this
`import { Launcher } from 'react-chat-window'`

which triggers the exact same error as @thiagocoelho.

Looking into Next a little more I think it is related to this topic: https://github.com/zeit/next.js/issues/79
where Next needs a folder defined to serve

[2019-01-17 09:31] harshgupta7 commented on #91
I think most people would be wary of using it in production without this resolved @dharness

[2019-01-17 12:35] KBPsystem777 commented on #91
I think no one is maintaining this anymore?...

[2019-01-25 21:12] #91 closed

[2019-01-25 21:13] dharness commented on #91
@KBPsystem777 Correct, this is not under active maintenance

[2019-01-28 16:23] heatherbooker commented on #97
@dharness Would some of this simply be fixed by updating the gh-pages branch? I'm not super sure how it works.

[2019-02-04 19:23] heatherbooker commented on #100
Done through release near #104. Thanks!

[2019-02-04 19:23] #100 closed

[2019-02-14 17:12] valeadami opened #108 "Unexpected token import"
Hi, I ve just dowloaded this example from github.  Run the npm install --save in a new folder. I 've just started the application and got into this error:

Do I need to change something?
I am very new to React and I just need to try a working example to get started. I need a web chat, only the UI.
Thakns for your attention

[2019-02-14 18:23] dharness commented on #108
It sounds like you're not using a bundler. Can you share more of the project structure?

[2019-02-14 18:53] valeadami commented on #108
Sure! This is the structure:
![screenshot 2019-02-14 19 51 19](https://user-images.githubusercontent.com/40217408/52810117-1fe57280-3092-11e9-97a8-5dcc8db2b6d6.png)

[2019-02-14 18:56] dharness commented on #108
Ah - you are looking to use this in your project, right - not develop this library?

What I'd recommend to get started with a really simple project that uses this library is:
[code]

[2019-02-14 20:38] valeadami commented on #108
yes, exactly, i need to use this project in order to evaluate react and integrate it in my express web app. Thanks for the suggestion!

[2019-02-15 18:32] heatherbooker opened #109 "Example be broken"
In the readme:
[code]
`messageHistory` is undefined >> - could be confusing for new users.

[2019-02-15 18:36] heatherbooker commented on #109
Also, `import {Launcher} from '../../src'` is a good path for the actual demo code but makes less sense as a readme example ><

[2019-02-15 18:39] heatherbooker commented on #109
Also, `render` don't need to be imported.

[2019-02-15 18:39] dharness commented on #109
LOL these guys are a mess

[2019-02-15 18:42] heatherbooker commented on #108
Hi @valeadami! Yes, when you `npm install` something without the `-g`, it should go in your `node_modules`.

From here, when you created the react app, it should have suggested that you run `npm start`. If you do that and then look at `localhost:3000` in your browser, it has a link to learn React - I think it would help you to go through some of the tutorials at that site! :)

To short cut, you sh

[2019-02-15 18:58] heatherbooker commented on #92
Started in https://github.com/kingofthestack/react-chat-window/tree/lint-up

[2019-02-15 20:33] #97 closed

[2019-02-15 21:37] heatherbooker commented on #4
#49 similar request. I think this is resolved (tested in the demo)! 🎉

![image](https://user-images.githubusercontent.com/12223751/52885636-dc494200-313f-11e9-97db-43206c557350.png)

[2019-02-15 21:37] #4 closed

[2019-02-15 22:50] valeadami commented on #108
thanks @heatherbooker it works,at last! Point 4 was the critical one for me. Thanks for your help

[2019-02-15 22:54] #108 closed

[2019-02-21 14:00] Yodetoo opened #110 "Remove sound on incoming message"
Add a feature to remove sound by passing a props

[2019-02-21 17:10] heatherbooker commented on #110
@Yodetoo Sounds doable! It should be simple - are you interested in implementing it or do you just want to use it?

(Related: @dharness there are 3 `.mp3`s but only the notification one seems to be used - any plans to use the others?)

[2019-02-21 18:13] dharness commented on #110
Nah - if someone does this task it'd be nice to also remove unused mp3s

[2019-02-21 20:27] Yodetoo commented on #110
thank you very much, this will help a lot <3

[2019-02-22 14:01] #110 closed

[2019-02-26 21:19] unsafeFunction opened #112 "Build version"
Hi!
I have an error, when run `yarn start:production`
[code]

[2019-02-26 22:22] heatherbooker commented on #112
Hi @unsafeFunction , I added some syntax highlighting to your question to help reading. :)

Are you trying to use or trying to contribute to react-chat-window? If you are trying to use it, can you explain a bit more your setup? Did you start a project, `yarn add react-chat-window`, and try to use it somewhere? What does your usage look like (`import { Launcher } from 'react-chat-window'` or someth

[2019-02-26 22:27] unsafeFunction commented on #112
Hi @heatherbooker =)
Yes, i add and  import { Launcher }
After that i run yarn start:production
Production is a following command:
`start:production": "NODE_ENV=production NODE_PATH=./src BABEL_ENV=production node build/server.js`

And your question about issue title - yes, i mean, that when i build - it crash =(

[2019-02-26 22:57] heatherbooker commented on #112
Are you using the `Launcher` in your code after you import it? How? If you could share your code here, that might be helpful to debug.

[2019-02-26 22:59] unsafeFunction commented on #112
` <Launcher
        agentProfile={{ teamName: 'Chat' }}
        onMessageWasSent={this.onMessageSent}
        messageList={messages}
        onFilesSelected={false}
        isOpen={isOpen}
        newMessagesCount={parseInt(count, 10) || 0}
        handleClick={this.handleClick}
      /> `
It's look like this. I think problem in audio notification and also, as i see site with demo not working in b

[2019-02-27 21:50] heatherbooker commented on #112
I'm afraid I'm not sure what the problem is. :(

`onFilesSelected` should be a function, not a boolean, but that shouldn't stop the app from building. If all the other arguments that you are passing to the `Launcher` are of the correct type, it looks correct to me.

Some debugging ideas you could try and see if the app builds, then work from there:
- remove the Launcher from your code
- remove the

[2019-03-08 22:32] #109 closed

[2019-03-22 16:08] tylerehc opened #116 "event listener & unmount"
I receive the following error:

Uncaught TypeError: Failed to execute 'removeEventListener' on 'EventTarget': 2 arguments required, but only 1 present.

I believe it has something to do with this section of code in /es/components/popups/PopupWindow.js

<CODE>

PopupWindow.prototype.componentWillUnmount = function componentWillUnmount() {
    this.scLauncher.removeEventListener(this.interceptLaunch

[2019-03-22 16:15] tylerehc commented on #116
I don't know why, but the git editor keeps ignoring my markup... sorry about the formatting...

I receive this error when I click to a page that doesn't have the chat widget running

[2019-03-22 16:54] tylerehc commented on #116
i ended up putting it on every page of my app to get rid of the error, but it'd be great if you could select which pages it's on

[2019-03-22 17:29] heatherbooker commented on #116
@dharness Can you release latest master to npm? I think that may help.

@tylerehc Sorry and thanks for the report! I'll get back to you more later.

[2019-03-22 17:59] tylerehc commented on #116
Thanks Heather! I hope this is helpful in some way :) I'm content to have it run on all pages for now, and I love the component!!!

[2019-03-25 02:42] chunkitmax commented on #116
Here is the easy fix:
[code]

[2019-03-30 15:13] dharness commented on #112
This has been inactive for a while so I'm going to close it. Feel free to re-open if the problem develops.

[2019-03-30 15:13] #112 closed

[2019-03-30 15:13] dharness commented on #94
Yes, I love it.

[2019-03-30 15:15] dharness commented on #93
Yeah I don't like it either.. it makes it difficult to advise people on how to fix build issues if we don't control the build process.

[2019-03-30 15:16] dharness commented on #93
Let's queue this up for the next release

[2019-03-30 15:16] dharness commented on #90
This is resolved, I hope?

[2019-03-30 15:29] dharness commented on #116
@tylerehc 1.2.0 was just released, let us know if that doesn't solve your problem
@heatherbooker thanks for staying on top of this!

[2019-04-01 14:34] heatherbooker opened #118 "Add version badge to readme"
Would be handy for seeing quickly what version we're on!

Requirements:
- should be auto-generated from our actual current version (version # not hard-coded)

[2019-04-05 14:32] tylerehc commented on #116
hey @dharness thanks for the update! I circled back to a situation where I was having this error, and after reinstalling the library, the error no longer occurs! Thank you for maintaining this fun and useful library.

[2019-04-05 14:32] #116 closed

[2019-04-08 16:31] #95 closed

[2019-04-16 03:15] flamebeard commented on #30
Also very interested in this feature

[2019-05-10 17:24] heatherbooker opened #123 "Add build step/instructions to update emojis"
We seem to have a static file of emojis, where did they come from? Where did they go? (where did they come from, cotton eyed joe?) In `emojiData.js` (soon to be `emojiData.json`).

It would be nice to document somehow so when new emojis are introduced we can easily update.

[2019-05-10 17:30] dharness commented on #123
Yeah the emojis is one of the most annoying parts - it would be better if there was some kind of browser api for getting emojis, rather than having them as text. This file also takes time to load and download that I'd prefer to avoid. I don't remember where I even got this.

[2019-05-10 18:14] heatherbooker commented on #96
Oh we seem to already do this.

[2019-05-10 18:14] #96 closed

[2019-05-10 18:15] heatherbooker commented on #118
Done

[2019-05-10 18:15] #118 closed

[2019-06-24 17:06] rudden commented on #30
Same!

[2019-07-04 16:55] Ramubala opened #125 "Provide buttons for user to select?"
Does it currently support buttons for user to click and then act based on the click

[2019-07-05 13:58] dharness commented on #125
No, it doesn't - good idea though!

[2019-07-09 12:38] ko06 opened #126 "Can we use this real time?"
Is good to use react in chat view? because it takes so much time to render and more file size occur right? so why we go with react instead of vennila js? Can you explain some advantages please?

[2019-07-09 12:59] ko06 commented on #30
Also interested!

[2019-07-09 13:00] ko06 commented on #30
@lineldcosta can you share your  code/ approach

[2019-07-09 15:22] dharness commented on #126
Regardless of whether or not react in itself is good (such discussion is widely available on the internet so I won't repeat it here), there are large numbers of people and companies using it. If you already use it, react-chat-window is a drop-in solution. If not, you'll need to consider something else.

[2019-07-09 19:26] ciiiii commented on #82
+1

[2019-07-10 04:37] ko06 commented on #126
Can you please share any discussion thread on regarding this I am searching whole day!

[2019-07-19 19:46] heatherbooker commented on #126
Hi @ko06 , I'm not sure what Intercom uses in their chat app. Here's an example of a discussion of the pros and cons of react: https://www.quora.com/What-are-the-main-advantages-of-ReactJS-over-plain-JavaScript, I hope that answers your question.

We generally find react works well for us, that's why this package exists - you may prefer vanilla js, which is also totally valid, but we can't try to

[2019-07-19 19:46] #126 closed

[2019-07-19 20:09] heatherbooker commented on #90
Hm, I need to check this. @heatherbooker to remind myself, if that works.

[2019-07-19 20:27] heatherbooker commented on #123
Ok, well, I guess we'll deal with it when the time comes to update the emoji list. 😂

[2019-07-19 20:27] #123 closed

[2019-07-19 20:37] heatherbooker commented on #68
I am hopeful that using webpack with the appropriate file-loader will fix if this sort of thing pops up again, in #128:

[code]

[2019-07-19 20:43] heatherbooker commented on #48
I'm not sure if this is related to #68, but the SVG displays alright in the demo on github pages as well as locally for me on chrome/firefox/safari. If you can provide more information and/or a reproduction we'll be happy to re-investigate and try to help solve this - sorry we can't offer more help at this point! ><

[2019-07-19 20:43] #48 closed

[2019-07-19 20:47] heatherbooker commented on #85
Hm I can't repro on chrome using the small-screen emulator thing. We can re-open if it comes up again!

[2019-07-19 20:48] #85 closed

[2019-07-19 20:56] heatherbooker commented on #42
I'd like to open this to opinions and suggestions for the design. Should the date appear for every message? Above the bubble, below it, with a time, with the day of week, with relative times (5 minutes ago, yesterday), only at intervals of greater than X time, should there be a break in the convo when it's a new day... there's a lot we need to specify if we want to see this feature!

[2019-07-23 07:00] ko06 commented on #126
thanks for your reply. sounds good. between Intercom uses React only. is we can migrate this code to preact.js?

@FYI,
 Preact has better performance than react but only similar functionality. can you share any info regarding migration [https://preactjs.com/guide/switching-to-preact] to convert this react to Preact

[2019-07-23 16:17] #92 closed

[2019-07-23 17:08] heatherbooker commented on #126
It is probably possible to make a version by migrating it to preact, and/or at least re-create similar functionality in preact. I myself have never used it so I can't offer any advice, but I believe preact tries to make it an easy switch. We won't be changing the package to use preact, but feel free to play around on your end or maintain a preact fork!

[2019-08-07 00:37] johnnywm opened #131 "Error on nextJS before installation"
Hello, I really need help with this problem.  I can´t use the component  before install get this console error.

this dont make sense, I check the CSS code and evething is ok, my other css files are working and finaly reinstall de dependecy " emoji-js" but that dont solution my problem.

Is there anything else I can do?

C:\Users\Johnny\Documents\res29-05-19\app\node_modules\react-chat-window\lib\

[2019-08-07 02:18] dharness commented on #131
Hey @johnnywm, can you provide a minimum-code-example repo that reproduces the error? Please include only an example of rcw usage and your build setup - do not include application code. Often making this kind of example can help uncover the issue, and if not, it will make it possible for us to diagnose your issue.

[2019-08-07 05:04] johnnywm commented on #131
Hey @dharness thanks for answer.   I put the example code of react chat window on a file named, chat.js the error happen when I import that component on my _app.js page ( in Nextjs is the main page)

using this code

import Chat from "../Components/chat";

when I delete that code, my app run without problem

[2019-08-31 06:45] AppLoidx commented on #68
define SRC like this:
[code]

And use file-loader for mp3 (module -> rules):
[code]

or use [image-webpack-loader](https://www.npmjs.com/package/image-webpack-loader) for load images:
[code]

For example, this is my webpack.config.js:
[code]

And do not forget to install the [file-loader](https://github.com/webpack-contrib/file-loader) before:
[code]

[2019-08-31 06:55] AppLoidx commented on #70
I got this WARNs with react 16.9.0, but react-chat-window still works

[2019-09-13 10:13] NaumanMoazzam opened #134 "How to hide Attachment Icon?"
I love using reactchat-window, but i am enable to hide File (Attachment) icon. Like I have disabled the emojis.

[2019-09-27 09:57] NaumanMoazzam commented on #134
@heatherbooker please help!

[2019-09-29 18:53] heatherbooker commented on #134
Hi @NaumanMoazzam , sorry for the delay. If you are talking about using something similar to the `showEmoji` prop to disable showing the file attachment icon, unfortunately we don't have that feature yet. If you'd like to see it happen, either
1. I can convert this issue to a feature request which will be considered for future developement, or
2. You can feel free to open a pull request following

[2019-09-29 19:18] NaumanMoazzam commented on #134
@heatherbooker Thanks for your reply.

#132 is already created by someone. It just need review. If you could do that. It will be GREAT.

Thanks for your time. Really love using it.

[2019-09-30 07:21] NaumanMoazzam opened #135 "How to add a new screen prior to Chat?"
Before starting conversation I need to take some input like name, email etc. How to add that screen? And then after clicking next or register, it should take me to the chat window.

[2019-10-04 18:50] heatherbooker commented on #134
Great thanks for the heads up! I've reviewed it, if the required change is made I will be happy to merge.

[2019-10-08 21:05] heatherbooker commented on #135
Hi @NaumanMoazzam , I'm sorry I'm not sure how to do that. I'll leave this open as a "help wanted" in case any one else has any ideas. Good luck! 😊

[2019-10-13 01:04] rburton commented on #134
FYI - I've clone this project and have been adding features to it. The widget is going to be called "react-chat-windower" so it doesn't clash with the NPM project.

https://github.com/rburton/react-chat-window/tree/feature/enhancements-1.2.0

I already have the hide/show file attachment button. I'll be adding features early this week.

[2019-10-13 16:16] heatherbooker commented on #134
Hi @rburton! Are you interested in taking over ownership of the original project instead? Me and @dharness are not able to keep up (as you can tell! :)) and we would love to hand it over to someone capable and eager. Let me know! You could open a new issue so we can talk about the details further if you like. Cheers!

[2019-10-13 16:20] NaumanMoazzam commented on #134
@rburton Same. I have been adding some add-ons to this project. But that is for my private use. We can help the community tho.

@heatherbooker I think if rburton agrees. We can continue.

[2019-10-21 07:53] Ymasri93 opened #139 "componentWillReceiveProps"
Hey I've noticed that you're using  componentWillReceiveProps in Launcher.js (That lifecycle will continue to work until react 17.).

Do you have any plans to upgrading your packages?

[2019-10-24 01:01] heatherbooker commented on #139
Hi @Ymasri93 , we don't have any plans to maintain the package at this point unfortunately, I'm sorry!

[2019-11-20 10:30] SuprasannaBhaumik opened #141 "Chat room feature"
How about adding a chat room feature, where we can see the individual users and their chats

[2019-12-03 02:37] juzejunior opened #142 "How can i import into a plain html file?"
Recently i need it to import this component into a non react project, like a simple html page, how can i do this? It's possible? I've been tryin' to import UMD file generated, but it does not work.

[2019-12-05 06:51] NaumanMoazzam commented on #142
If you want to add into simple HTML page;

1. Clone this project.
2. Run npm install/ yarn then npm start/ yarn start
3. After successful start, run npm build. This will create a build folder with CSS & JS folder.
4. Copy these files into your HTML page, and add a div with ID anywhere in the code, for example:
           <div id="root"></div>
And import all the CSS & JS.
5. This will add chat widg

[2019-12-05 06:52] #142 closed

[2019-12-05 06:53] NaumanMoazzam commented on #141
We will work on that. If you have, feel free to send a PR.

[2019-12-05 15:49] heatherbooker commented on #142
Hi @juzejunior, I don't think you can actually use a react component in a non-react project, sorry - you will have to look for plain javascript solutions or perhaps find a jquery based library to rely on. Good luck!

[2020-01-05 13:53] virtualdesigner opened #143 "Add alt attribute to img tags"
Please add alt attribute to img tags to boost the seo. Thanks!

[2020-01-06 17:07] dharness commented on #143
@virtualdesigner Feel free to submit a PR!

[2020-01-06 17:07] #143 closed

[2020-01-14 18:17] gravitymedianet opened #144 "send button not rendering"
In the UserInput component, it appears the send button has been left out. It is not rendering when I put the ChatWindow in my app.

See line 147:

``
          <div className="sc-user-input--button"></div>
``

EDIT TO ABOVE --

It appears the send button replaces the files icon when you type.

Can you make it so that the send can be its own icon? We dont want users for example to upload file.

[2020-01-16 15:50] dharness commented on #144
Sorry, we are no longer working on this project.

[2020-01-16 15:50] #144 closed

[2020-03-14 16:55] LeThanhTung17 opened #145 "Can't load notification.mp3 file"
error  in ./node_modules/react-chat-window/es/assets/sounds/notification.mp3

Module parse failed: Unexpected character '' (1:3)
You may need an appropriate loader to handle this file type.
(Source code omitted for this binary file)

 @ ./node_modules/react-chat-window/es/components/Launcher.js 11:0-71 42:26-46
 @ ./node_modules/react-chat-window/es/index.js

[2020-03-21 01:56] dharness commented on #145
@LeThanhTung17 please provide more information when opening an issue, what system you're on, what your setup is, what you've tried etc.

[2020-03-21 01:56] #145 closed

[2020-03-21 05:27] LeThanhTung17 commented on #145
@dharness thanks your replied, I fixed that error, just add .mp3 to the webpack.config file

[2020-03-21 05:27] LeThanhTung17 commented on #145
@dharness thanks your replied, I fixed that error, just add .mp3 to the webpack.config file

[2020-04-19 13:07] Achrefothmeni opened #146 "How to add onClick event on agentProfile?"
I am trying to add and event on agentProfile, for example when i click on teamName i get a modal to select another user to chat with

[2020-05-28 07:30] quannguyennn opened #147 "Assets issue"
Im using next and it said
./node_modules/react-chat-window/es/assets/close-icon.png 1:0
Module parse failed: Unexpected character '�' (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
(Source code omitted for this binary file)

The first issue is the notification.mp3 file, I delet

[2020-05-28 07:47] quannguyennn commented on #145
@LeThanhTung17  im using Next and resolve this by adding mp3 to webpack but another issue is it can't load global css from node_modules. Help

[2020-05-31 09:01] LeThanhTung17 commented on #145
please show me some photos in your webpack and your  issue

Vào Th 5, 28 thg 5, 2020 vào lúc 14:47 quannguyennn <
notifications@github.com> đã viết:

[2020-05-31 09:04] LeThanhTung17 commented on #145
please show me some photos in your webpack file where are you adding mp3 and adding css

[2020-06-19 07:05] NaumanMoazzam opened #148 "Launcher Color"
How to change launcher color dynamically?

[2020-07-23 19:14] kumarmpk commented on #134
Hi is there a way to hide attachment icon?

[2020-08-29 22:05] BrandonE commented on #131
I have a similar issue. I think the CSS file is being interpreted as JavaScript.

[2020-08-29 22:57] BrandonE commented on #131
I believe that this is an issue with `@zeit/next-css`, which is deprecated. Unfortunately, there are issues with Next's built-in CSS support and node_modules that include CSS: https://github.com/vercel/next.js/issues/12079

[2020-08-30 17:00] BrandonE commented on #131
I was very stubborn with this and eventually got it working with the [next-transpile-modules](https://www.npmjs.com/package/next-transpile-modules) plugin:

[code]

I also had to remove my usage of `next-images`. Afterwards, the component looks great!

[2020-09-23 11:40] iTzMeRafa commented on #141
any updates on this?

[2020-09-23 12:30] NaumanMoazzam commented on #141
No updates yet. If you have, feel free to send a PR.

[2020-09-24 16:35] aniketchetu commented on #141
Hi,
We are using react-chat-window library and facing some issues while trying to show icons in chat window and there is not any property to do such kind of functionality.

1. We want to show user icon dynamically but in current situation when we are setting dynamic URL image URL got broken.
2. Here we want to set video icon but not able to set. there is no such kind of property.
3. We want to set

[2020-09-24 16:36] aniketchetu commented on #141
Hi,
We are using react-chat-window library and facing some issues while trying to show icons in chat window and there is not any property to do such kind of functionality.

1. We want to show user icon dynamically but in current situation when we are setting dynamic URL image URL got broken.
2. In top header  we want to set video icon but not able to set. there is no such kind of property.
3. We w

[2020-09-25 11:47] aniketchetu opened #150 "Needed Help to add new properties"
We are using react-chat-window library and facing some issues while trying to show icons in chat window and there is not any property to do such kind of functionality.

1.	We want to show user image dynamically but in current situation when we are setting dynamic URL image URL got broken.
2.	In top header we want to set video icon but not able to set. there is no such kind of property.
3.	We want

[2020-09-25 13:58] aniketchetu commented on #150
![Uploading Groupchat.PNG…]()

[2020-09-28 13:18] aniketchetu commented on #150
@heatherbooker Please have a look on this and help us to find a way on this.

[2020-10-02 10:18] ahmedkhalidbutt commented on #134
@heatherbooker if the required change is made for this issue. Can you kindly merge it so we can use the npm package with the latest updates?

[2020-11-04 10:48] Datsotrade opened #151 "Change the SVG"
Hello team,
please direct me to know how to change the logo of svg.

![image](https://user-images.githubusercontent.com/52976643/98102205-6ac99e00-1ea4-11eb-8790-3e1ff489e214.png)

[2020-11-05 09:22] libinseb opened #152 "Preview Images"
Hi ,

Can we have an option to preview the images sent as a file attachment? Now files are shown as a link.

[2020-11-06 11:50] libinseb commented on #152
Do you have any timelines in mind for implementation?

[2020-11-07 02:56] dharness commented on #152
Hi @libinseb - please see the notice in the readme. Quoted below for convenience

Warning!

This repo is not actively maintained or developed by kingofthestack. PRs, issues, and feature requests may not receive any response.

[2020-12-07 10:53] #139 closed

[2021-05-19 06:12] telbokbatok commented on #134
i used a styling like this, maybe can help

`.sc-user-input--button {
	visibility: hidden;
}`

[2021-06-29 04:04] mymelove02 opened #153 "Error on nextJS when import Launcher"
I have problem when I import Launcher from "react-chat-window". Is there any way to fix it?

./node_modules/react-chat-window/es/styles/emojiPicker.css
Global CSS cannot be imported from within node_modules.
Read more: https://nextjs.org/docs/messages/css-npm
Location: node_modules/react-chat-window/es/styles/index.js

[2021-09-16 08:15] ShirleyQute commented on #153
how to solve？

[2022-01-08 14:13] kimgysen commented on #30
Cannot use the lib because of this missing feature, otherwise wouldn't have doubted. I feel it's better not to wait for user feedback, many users will just move on without leaving feedback. This is the only lib available that does the private chat window thingy well. I'll be forced to go with a terrible accordion UI approach, but at least I can chat with multiple users.

[2022-06-30 06:19] Mohammad-Shishegar opened #155 "change place and change style of launcher"
how to change style of launcher or change place in screen?

[2022-08-30 11:15] edmundsj opened #156 "Has anyone forked this to react 16-18?"
I'm running on react 18, and tried to install this package by changing the peer dependency to >=15.0.0, but am getting random error after random error trying to get it to work. Has anyone forked this to get it to work on React 18?